<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="ProductsXmlFilePath" value="D:\My Projects\Genesis\WebServers\svc-GenesisIngestion\App_Data\HHPackage\Products\Products.xml"/>
    <add key="OutputRootDirectory" value="C:\ProductTransformationScript\IndividualProductXmlFiles\"/>
  </appSettings>
</configuration>